<form>
    <div class="">
        <lib-phone id="phone_id" name="phone_name" displayName="mobile."
            [appearAsterisk]="true" [readOnly]="false" [maxLength]="20"
            pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$" [(ngModel)]="phone">
        </lib-phone>

        <lib-phone id="phone_id" name="phone_name" displayName="mobile."
                [appearAsterisk]="true" [readOnly]="true" [maxLength]="6"
                pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$" [(ngModel)]="phone">
        </lib-phone>
        
        <div>
            <p> {{phone}} </p>
        </div>
    </div>
    <hr>
    <div class="">
        <lib-lock-checker [(ngModel)]="isChecked" name="checker" displayName="Checker" [checkType]="toggleCheckType" (change)="getRandomValue()">

        </lib-lock-checker>
    </div>

    <div class="">
        <lib-address-form [legend]="'my Address form'"></lib-address-form>
    </div>
   
</form>

